<ion-content class="getting-content">
    <ion-slides class="getting-started-slides" pager="true">
        <ion-slide class="interests-to-follow-slide question-slide">
            <ion-grid fixed class="getting-started-slides interests-to-follow-slide question-slide">
                <ion-row>
                    <ion-col size="12" class="logo">
                        <img src="../../assets/img/logo.png" style="padding-top:40px;" /><br />
                    </ion-col>
                    <ion-col class="heading-col">
                        <h2 class="slide-title">{{"WELLCOME_TO_WE_MOVE" | translate}}</h2>
                    </ion-col>
                    <ion-col class="heading-col">
                        <h2 class="slide-title">{{"MOVE" | translate}}, {{"EARN" | translate}}, {{"DONATE" | translate}}</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <img src="../../assets/img/back5.png" style="padding-top:10px;" />
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide class="interests-to-follow-slide question-slide">
            <ion-grid fixed class="getting-started-slides interests-to-follow-slide question-slide">
                <ion-row>
                    <ion-col size="12" class="logo">
                        <img src="../../assets/img/logo.png" style="padding-top:40px;" /><br />
                    </ion-col>
                    <ion-col class="heading-col">
                        <h2 class="slide-title">{{"MOVE_AND_EARN" | translate}}</h2>
                    </ion-col>
                    <ion-col class="heading-col">
                        <h3 class="slide-title">{{"OUR_APP" | translate}}</h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <img src="../../assets/img/back1.png" style="padding-top:10px;" />
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide class="interests-to-follow-slide question-slide">
            <ion-grid fixed class="getting-started-slides interests-to-follow-slide question-slide">
                <ion-row>
                    <ion-col size="12" class="logo">
                        <img src="../../assets/img/logo.png" style="padding-top:40px;" /><br />
                    </ion-col>
                    <ion-col class="heading-col">
                        <h4 class="slide-title">{{"FOR_EACH" | translate}}</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <img src="../../assets/img/back2.png" style="padding-top:10px;" />
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="interests-to-follow-slide question-slide">
            <ion-grid fixed class="getting-started-slides interests-to-follow-slide question-slide">
                <ion-row>
                    <ion-col size="12" class="logo">
                        <img src="../../assets/img/logo.png" style="padding-top:40px;" /><br />
                    </ion-col>
                    <ion-col class="heading-col">
                        <h4 class="slide-title">{{"YOU_CAN" | translate}}</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <img src="../../assets/img/back3.png" style="padding-top:10px;" />
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="interests-to-follow-slide question-slide">
            <ion-grid fixed class="getting-started-slides interests-to-follow-slide question-slide">
                <ion-row>
                    <ion-col size="12" class="logo">
                        <img src="../../assets/img/logo.png" style="padding-top:40px;" /><br />
                    </ion-col>
                    <ion-col class="heading-col">
                        <h4 class="slide-title">{{"WITH_YOUR_CELL" | translate}}</h4>
                    </ion-col>
                    <ion-row>
                        <ion-col size="12">
                            <img src="../../assets/img/back4.png" style="padding-top:10px;" />
                        </ion-col>

                    </ion-row>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="interests-to-follow-slide question-slide">
            <ion-grid fixed class="getting-started-slides interests-to-follow-slide question-slide">
                <ion-row>
                    <ion-col size="12" class="logo">
                        <img src="../../assets/img/logo.png" style="padding-top:40px;" /><br />
                    </ion-col>
                    <ion-col class="heading-col">
                        <h4 class="slide-title">{{"BETA_APP" | translate}}</h4>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-button class="signup-button" style="color: black" color="primary" expand="block" [routerLink]="['/auth/login']">{{"START" | translate}}</ion-button>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-slide>
        
    </ion-slides>

</ion-content>
<ion-footer>
</ion-footer>