<ion-header align-title="center">
    <ion-toolbar class="back">
        <ion-buttons slot="start">
            <img src="../../assets/img/icon.png" style="width: auto; height: 55px;" />
        </ion-buttons>
        <ion-title> {{ 'INFO_PERSONAL' | translate }}</ion-title>
        <div class="buttons" [routerLink]="['/activities']">
            <a href="#" class="button button-clear back" style="padding-right: 10px;">
                <span><ion-icon name="arrow-back"></ion-icon></span>
            </a>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="walkthrough-content">
    <form [formGroup]="walkthroughForm" (ngSubmit)="doSubmit()">
        <div style="margin:20px;">
            <p class="legal-stuff">
                {{ 'WELCOME' | translate }}! <br /> {{ 'CUENTANOS_ACERCA_DE_TI' | translate }}.
            </p>
            <ion-list class="inputs-list">
                <ion-item class="input-item item-label-floating">
                    <ion-label position="floating"> {{ 'GENERO' | translate }}</ion-label>
                    <ion-select formControlName="gender" cancelText="Cancel" okText="OK" class="form-app item-select">
                        <ion-select-option *ngFor="let gender of genders" [value]="gender" class="form-app item-select option">{{ gender }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="input-item" (click)="showPicker =!showPicker">
                    <ion-label position="floating"> {{ 'FECHA_NAC' | translate }}</ion-label>
                    <ion-input formControlName="fechaNac" value="Readonly" inputmode="none" ></ion-input>
                    
                </ion-item>
                <ion-datetime *ngIf="showPicker" #datetime presentation="date" style="color: #82287f;"
                value="{{fechaNac}}" (ionChange)="formatDate(datetime.value)" showDefaultButtons="true"
                (ionCancel)="showPicker=false;"
                 ></ion-datetime>
                <ion-item class="input-item">
                    <ion-label position="floating"> {{ 'PESO' | translate }}</ion-label>
                    <ion-input type="number" formControlName="weight" inputmode="numeric"></ion-input>
                </ion-item>
                <ion-item class="input-item">
                    <ion-label position="floating"> {{ 'ESTATURA' | translate }}</ion-label>
                    <ion-input type="number" formControlName="height" inputmode="numeric"></ion-input>
                    <!-- <app-counter-input formControlName="height"></app-counter-input> -->
                </ion-item>
                <!--<ion-item class="input-item item-label-floating">
                    <ion-label position="floating"> {{ 'COUNTRY' | translate }}</ion-label>
                    <ion-select formControlName="country" cancelText="Cancel" okText="OK" class="form-app item-select">
                        <ion-select-option *ngFor="let country of countries" [value]="country" class="form-app item-select option">{{ country }}</ion-select-option>
                    </ion-select>
                </ion-item>-->
                <ion-list class="counter-list" lines="full">
                    <ion-item class="counter-item input-item">

                        <ion-label> {{ 'ENTIDAD_BENEFICA' | translate }}</ion-label>
                        <ion-label *ngIf="entBeneficaName !=='' ">{{entBeneficaName}}</ion-label>
                        <ion-icon class="icon-search" slot="end" name="search" (click)="openEntidadModal()"></ion-icon>
                    </ion-item>

                </ion-list>
            </ion-list>
            <ion-button class="login-btn " type="submit " expand="block " [disabled]="!walkthroughForm.valid "> {{ 'GUARDAR' | translate }}</ion-button>
        </div>
    </form>
</ion-content>