<ion-content>
  <ion-row>
    <ion-col> 
      <div>
        <ion-text color="secondary" style="font-size: 8rem; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
          {{_secondsLeft}}
        </ion-text>
      </div> 
      <div class="item html" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
          <g>
           <circle id="circle" style="stroke-dasharray: 440;
           transition: all 1s linear;" [style.stroke-dashoffset]="strokeDashoffset" r="69.85699" cy="81" cx="81" stroke-width="12" stroke="#9f1cca" fill="none"/>
          </g>
         </svg>
    </div>
    </ion-col>
  </ion-row>

</ion-content>
