:host {
    --page-margin: var(--app-narrow-margin);
    --page-border-radius: var(--app-fair-radius);
    --page-actions-padding: 5px;
    --page-friends-gutter: calc(var(--page-margin) / 2);
    --page-pictures-gutter: calc(var(--page-margin) / 2);
}

.back {
    --background: url(../../../assets/img/main-bg.png);
}

ion-menu-button {
    color: var(--ion-color-secondary);
}

ion-button {
    color: var(--ion-color-secondary);
}

ion-content {
    --background: var(--page-background);
}

ion-back-button {
    color: var(--ion-color-secondary);
}

ion-title {
    color: #FFF;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    ;
}

ion-content {
    //--background: #2a2b3f;
    //--background: var(--page-background);
    --background: url(../../../assets/img/purple2.png);
}

ion-card-content {
    padding: 10px;
}

ion-card {
    padding: 5px;
    background: #1b1926;
    margin: 15px;
    border-radius: 8px;
    color: white;
}